html, body {
    background-color: #4D97FF;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

a:active, a:hover, a:link, a:visited {
    color: currentColor;
}

a:active, a:hover {
    filter: brightness(0.9);
}

.aboutBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.aboutLogo {
    max-width: 6rem;
    max-height: 6rem;
    margin: 1rem 1rem 0 1rem;
}

.aboutText {
    margin: 1rem;
}

.aboutTitle {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    white-space: nowrap;
}

.aboutDetails {
    font-size: small;
    text-align:left;
    margin:auto;
}

.aboutDetails td {
    padding: 0.1rem 0.5rem;
}

.aboutFooter {
    font-size: small;
}
